div.card {
    border: 1px solid cadetblue;
    max-width: 200px;
    margin: auto;
}
div.card button {
    margin: 5px 0px auto;
}
div.card h3, h4 {
    margin: 5px;
}
div.card img {
    width: 100%;
    height: auto;
}